@font-face {
    font-family: 'IBM-Courier-Bold,JackInput';
    src: url('../assets/fonts/JackInput.ttf'),
        url('../assets/fonts/IBM-Courier-Bold');
}

body {
    font-family: 'IBM-Courier-Bold,JackInput';
}