@font-face {
    font-family: 'IBM Courier,ER Kurier 1251,JackInput';
    src: url('https://cdn.jsdelivr.net/gh/lovobin/globalfont@v0.0.4/ER Kurier 1251.otf'),
        url('https://cdn.jsdelivr.net/gh/lovobin/globalfont@v0.0.4/IBM Courier.otf'),
        url('https://cdn.jsdelivr.net/gh/lovobin/globalfont@v0.0.4/JackInput.ttf');
}

body {
    font-family: 'IBM Courier,ER Kurier 1251,JackInput';
}
